*{
    margin: 0;
    padding: 0;
    box-sizing :border-box;
    font-family: 'Poppins', sans-serif;
    
    
}

body{
    background-color: #F1F1F1;
    color:white;
    font-family:"Poppins",sans-serif;
    text-align: center;
    
    
}

header{
    position: absolute;
    justify-content:space-between;
    height: 100%;
    width: 100%;
    left: 0px;
    top:0px;
    
}


/* Navbar */
.navbar {
   position: absolute;
    left: 0px;
   right: 0px;
   top: 0px;
}

.nav-logo{
    position: absolute;
    width: 121px;
    height: 33px;
    left: 165px;
    top: 33px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color:#151517;
}

.navbar, .background{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #F1F1F1;
}

.nav-menu{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 340px;
    height: 24px;
    right: 165px;
    top: 38px;

    filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.navbar-home{
    position: static;
    width: 49px;
    height: 24px;
    left: 0px;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration:none;
    color: #EEBF63;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin:0px 40px;


    
    
}

.navbar-about{
    position: static;
    width: 49px;
    height: 24px;
    left: 89px;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration:none;
    color: #151517;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin:0px 40px;


}

.navbar-project{
    position: static;
    width: 56px;
    height: 24px;
    left: 178px;
    top:0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration:none;

    color:#151517;

    flex:none;
    order: 2 ;
    flex-grow: 0;
    margin:0px 40px;
    

}

.navbar-contact{
    position:static;
    width: 66px;
    height: 24px;
    left: 274px;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size:16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;

    color:#151517;
    flex:none;
    order:3;
    flex-grow: 0;
    margin:0px 40px;

}

.home-textbox{
    position: absolute;
    justify-content:space-between;
    width: 475px;
    height: 386px;
    left:5%;
    top:5%;
    z-index: 1;
}

.hero-title{
    position: absolute;
    width: 54px;
    height: 36px;
    left: 165px;
    top: 177px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #828282;
}


.hero-header{
    position:absolute;
    width: 475px;
    height: 124px;
    left: 165px;
    top: 229px;

    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #2F2F2F;
}

span{
    color: #EEBF63;
}

/* Header */
.hero-info{
    position: absolute;
    width: 475px;
    height: 90px;
    left: 165px;
    top: 409px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #2F2F2F;
}



.hero-linevector{
    /* Line Vector */
    position: absolute;
    
    
    width: 324px;
    height: 19px;
    left: 266px;
    top: 368px;
    
    /* #6FC2C5 */
    background: #6FC2C5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 1)
    
    
    }

.social-media-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0px;

    position: absolute;
    width: 273.99px;
    height: 32px;
    left: 90px;
    top:400px;
    

}

ul{
        margin: 0;
        padding: 0;
        position: absolute;
        top:50%;
        left: 20%;
        transform: translate(-50%, -50%);
    }
    
ul li
    {
        position:sticky;
        list-style: none;
        float: left;
        margin: 10px;
        width: 100px;
        height: 100%;
        line-height: 100px;
        text-align: center;
        background: #fff;
        border-radius: 50%;
        overflow: hidden;
        color: #262626;
        z-index: 1;
        transition: .5s ease-in-out ;
       
    }
    
ul li:before{
        content:"";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        background: #ccc;
        z-index: 1;
        border-radius: 50%;
        transform: scale(0);
        transition: .3s ease-in-out;
    }
    
ul li:hover:before{
        left: 0;
        transform: scale(.9);
    }
    
ul li:nth-child(1):before{
        background: #2867B2;
    }
    
ul li:nth-child(2):before{
        background: #4078c0;
    }
    
ul li:nth-child(3):before{
        background: #4285F4;
    }
    
ul li:nth-child(4):before{
        background: #C13584;
    }
    
ul li:hover a{
        color: #fff ;
    }

.buttons{
        position:absolute;
        width: 151px;
        height: 55px;
        left: 165px;
        right: 0%;
        top:607px;
        bottom: 0%;
        border-radius: 10px;
        margin-left: 10%;
        margin-top: 10%;
        background: #EEBF63;
        border-style: none;
        padding:15px 30px;
    
        
    }
    
ion-icon{
        border-style: none;
        font-size: 20px;
        padding-inline: 3px;

    }
    

.mailme{
        position: absolute;
        width: 95px;
        height: 24px;
        left: 28px;
        top:16px;
        
        font-size:11px;
        padding-inline: 10px;


        

    }

.download{
        position:absolute;
        width: 151px;
        height: 55px;
        left: 250px;
        bottom: 0%;
        padding:15px 30px;
        border-color: #EEBF63;
        border-radius: 10px;
        margin-left: 10%;
        margin-top: 10%;
        background: #EEBF63;
        border-style:solid;
        padding:15px 30px;
        padding-inline: 20px;
        
        font-size:11px;

    }
 /* Profil İmage  */
.circleImage{
        position: absolute;
        width: 496px;
        height: 496px;
        right: 224px;
        top: 142px;

        mix-blend-mode: normal;
        opacity: 0.16;
        /* #828282*/
        border:2px solid #828282;
    }

.dotImage{
        position: absolute;

        right: 500px;
        top:517px;
        

       
    }

.images{
      /* Image */
      position: absolute;
      width: 540px;
      height: 540px;
      right: 167px;
      top: 177px;

      
     
    }


 /* HERO İNFORMATİON (ABOUT) */
.review1{
    /* Review */

position: absolute;
width: 1110px;
height: 584px;
left: 165px;
top: 850px;

}
    
.hero-info2-background{


position: absolute;
width: 1440px;
height: 684px;
left: 0px;
background: #C4C4C4;

    
}


.hero-frame{
    position: absolute;
    width: 1110px;
    height: 584px;
    left: 3%;
    top: 27%;
    
    background: #E9E9E9;
    border-radius: 45px;
    
    
    }

    
.images2{

   /* Image */

position: absolute;
width: 350px;
height: 458px;
left: 5%;
top: 35%;


background: url(2.jpg);

}


.hero-info-2{
    position: absolute;
    width: 570px;
    height: 180px;
    left: 640px;
    top: 1162px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 45px;

    color: #000000;
}

.hero-info-header{
    position: absolute;
    width: 419px;
    height: 62px;
    left: 40%;
    top: 50%;

  /*  margin-left:9%;
    margin-top: 0.1%;
    margin-right:100%; */
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    text-align:right;
    line-height: 62px;
    color: #151517;
}
    
td.Project{
    position: absolute;
    left: 25%;
    top: 7%;
}

td.Positive-reviews{
    position: absolute;
    left: 50%;
    top: 7%;
}
/* CONTENT2 RECENT PROJECTS */

.Recent-Projects-Content{
    position: absolute;
    width: 1440px;
    height: 1064px;
    left: 0px;
    top: 1484px;
}


.Recent-Projects-Frame{
    position: absolute;
    width: 111.1%;
    height: 964px;
    right: 15%;
    top:15%;

}

.Recent-Projects-Header{
    position: absolute;
    width: 377px;
    height: 62px;
    left:165px;
    top: 1534px;
    z-index: 1;

    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;

    color: #151517;
}

/*View More */

.View-More-Button{
    position:relative;
    width: 151px;
    height: 55px;
    left: 1123px;
    top: 5px;

    
    z-index: 1;
}

.View-More{
   position: absolute;
   left: 21.19%;
   right: 21.85%;
   top: 29.09%;
   bottom: 27.27%;

   font-family: Poppins;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   display: flex;
   align-items: center;
   text-align: center;
   

   color: #FFFFFF;

}


/*MEDİA SCREEN */ 
@media only screen and (max-width:768px ) {
    
    .navbar{
        width: auto;
        height: auto;
    }
    
    .brand{
        width: auto;
        height: auto;
        left: 0;
        right: 50%;
    }
}

@media only screen and(max-width:1024px) {
    
}

@media only screen and(max-width:1254px) {

    
}
