                                               *{
    margin: 0;
    padding: 0;
    box-sizing :border-box;
    font-family: 'Poppins', sans-serif;
    
    
}

body{
    background-color: #FFFFFF;
    color:white;
    font-family:"Poppins",sans-serif;
    text-align: center;
    
    
}

header{
    position: absolute;
    justify-content:space-between;
    height: 100%;
    width: 100%;
    /*
    min-width: 1024px;
    min-height: 768px;*/
    left: 0px;
    top:0px;
    
}


/* Navbar */
.navbar {
   position: absolute;
   height: 100px;
  
   left: 0px;
   right: 0px;
   top: 0px;
}

.navbar, .background{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: whitesmoke;
}

.menu{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 340px;
    height: 24px;
    right: 165px;
    top: 38px;

    filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.brand{
    position: absolute;
    width: 121px;
    height: 33px;
    left: 165px;
    top: 33px;
    

    
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color:#151517;
}

.navbar-home{
    position: static;
    width: 49px;
    height: 24px;
    left: 0px;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration:none;
    color: #EEBF63;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin:0px 40px;


    
    
}

.navbar-about{
    position: static;
    width: 49px;
    height: 24px;
    left: 89px;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration:none;
    color: #151517;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin:0px 40px;


}

.navbar-project{
    position: static;
    width: 56px;
    height: 24px;
    left: 178px;
    top:0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration:none;

    color:#151517;

    flex:none;
    order: 2 ;
    flex-grow: 0;
    margin:0px 40px;
    

}

.navbar-contact{
    position:static;
    width: 66px;
    height: 24px;
    left: 274px;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size:16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;

    color:#151517;
    flex:none;
    order:3;
    flex-grow: 0;
    margin:0px 40px;

}

.home-textbox{
    position: absolute;
    justify-content:space-between;
    width: 475px;
    height: 386px;
    left:165px;
    top:177px;
    z-index: 1;
}

.hero-title{
    position: absolute;
    width: 54px;
    height: 36px;
    left: 165px;
    top: 177px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #828282;
}


.hero-header{
    position:absolute;
    width: 475px;
    height: 124px;
    left: 165px;
    top: 229px;

    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #2F2F2F;
}

span{
    color: #EEBF63;
}

.hero-info{
    position: absolute;
    width: 475px;
    height: 90px;
    left: 165px;
    top: 450px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #2F2F2F;
}



.hero-linevector{
    /* Line Vector */
    position: absolute;
    
    
    width: 324px;
    height: 19px;
    left: 266px;
    top: 368px;
    
    /* #6FC2C5 */
    background: #6FC2C5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 1)
    
    
    }

.social-media-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0px;

    position: absolute;
    width: 273.99px;
    height: 32px;
    left: 90px;
    top:400px;

}

ul{
        margin: 0;
        padding: 0;
        position: absolute;
        top:50%;
        left: 20%;
        transform: translate(-50%, -50%);
    }
    
ul li
    {
        position:sticky;
        list-style: none;
        float: left;
        margin: 10px;
        width: 100px;
        height: 100%;
        line-height: 100px;
        text-align: center;
        background: #fff;
        border-radius: 50%;
        overflow: hidden;
        color: #262626;
        z-index: 1;
        transition: .5s ease-in-out ;
       
    }
    
ul li:before{
        content:"";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        background: #ccc;
        z-index: 1;
        border-radius: 50%;
        transform: scale(0);
        transition: .3s ease-in-out;
    }
    
ul li:hover:before{
        left: 0;
        transform: scale(.9);
    }
    
ul li:nth-child(1):before{
        background: #2867B2;
    }
    
ul li:nth-child(2):before{
        background: #4078c0;
    }
    
ul li:nth-child(3):before{
        background: #4285F4;
    }
    
ul li:nth-child(4):before{
        background: #C13584;
    }
    
ul li:hover a{
        color: #fff ;
    }

.buttons{
        position:absolute;
        width: 151px;
        height: 55px;
        left: 165px;
        right: 0%;
        top:607px;
        bottom: 0%;
        border-radius: 10px;
        margin-left: 10%;
        margin-top: 10%;
        background: #EEBF63;
        border-style: none;
        padding:15px 30px;
    
        
    }
    
ion-icon{
        border-style: none;
        font-size: 20px;
        padding-inline: 3px;

    }
    

.mailme{
        position: absolute;
        width: 95px;
        height: 24px;
        left: 28px;
        top:16px;
        
        font-size:11px;
        padding-inline: 10px;


        

    }

.download{
        position:absolute;
        width: 151px;
        height: 55px;
        left: 250px;
        bottom: 0%;
        padding:15px 30px;
        border-color: #EEBF63;
        border-radius: 10px;
        margin-left: 10%;
        margin-top: 10%;
        background: #EEBF63;
        border-style:solid;
        padding:15px 30px;
        padding-inline: 20px;
        
        font-size:11px;

    }

.circleImage{
        position: absolute;
        width: 496px;
        height: 496px;
        right: 224px;
        top: 142px;

        mix-blend-mode: normal;
        opacity: 0.16;
        /* #828282*/
        border:2px solid #828282;
    }

.dotImage{
        position: absolute;
        width: 245px;
        height: 179.46px;
        right: 515px;
        top:517px;
        

       
    }

.images{
      /* Image */
      position: absolute;
      width: 540px;
      height: 540px;
      right: 167px;
      top: 177px;

      
     
    }
    
.hero-info-background{

        position: absolute;
        background: #c4c4c4;
    
    }

.hero-frame{
        position: absolute;
        width: 1110px;
        height: 584px;
        left: 230px;
        top: 980px;
        background: #e9e9e9;
        border-radius: 45px;
        
    
    }

    
.images2{

    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: 750px;
    height: auto;
    left: 70px;
    top: 1000px;
    border-radius: 30px;
   

}

.complete{
    position: absolute;
    width: 163px;
    height: 62px;
    left: 640px;
    top: 913px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 62px;
    color: #2F2F2F;
    
    

}

.complete{
    position: absolute;
    width: 237px;
    height: 98px;
    left: 640px;
    top: 500px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    
    line-height: 62px;
    color: #2F2F2F ;

}


span.plus{

    color:#8ed2a9;
    font-size: 50px;
}

td.Project{
    font-size: 50px;
}

td.Project-Complete{
    position: absolute;
    width: 237px;
    height: 36px;
   
    font-size: 24px;
    line-height: 36px;
    font-style: normal;
    font-weight: normal;
    color: #828282;

}

td.Positive-Reviews{
    position: absolute;
    width: 67px;
    height: 62px;
    left: 926px;
    top: 913px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;

    display: flex;
    align-items: center;
    color: #2f2f2f;
}

td.Positive-Review{
    position: absolute;
    width: 199px;
    height: 36px;
    left: 926px;
    top: 975px;

    font-family: Poppins;

}

.hero-info-header{
    position: absolute;
    width: 419px;
    height: 62px;
    left: 640px;
    top:1081px;

  /*  margin-left:9%;
    margin-top: 0.1%;
    margin-right:100%; */
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    text-align:right;
    line-height: 62px;
    color: #151517;
}
    
.hero-info-2{
    
    position: absolute;
    width: 570px;
    height: 180px;
    left: 640px;
    top: 1162px;
    
    /*margin-left:9%;
    margin-top: 0.1%;
    margin-right: 30%;*/
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 45px;
    text-align:center;
    color: #000;
    
}


    
@media only screen and (max-width:768px ) {
    
    .navbar{
        width: auto;
        height: auto;
    }
    
    .brand{
        width: auto;
        height: auto;
        left: 0;
        right: 50%;
    }
}

@media only screen and(max-width:1024px) {
    
}

@media only screen and(max-width:1254px) {

    
}
